body {
    background-color: palegreen;
}
.Tame {
    color: darkmagenta; 
    text-decoration: underline;
    text-decoration-color: firebrick;
    text-align: center;
}
.members {
    float: left;
    border: 5px solid blue;
    padding: 5px;
}
.members h2 {
    color: darkmagenta;
}
.members li {
    list-style: circle;
    color: firebrick;
}

.songs {
    float: right;
    border: 5px solid blue;
    padding: 5px;
}

.songs h2 {
    color: darkmagenta;
}

.songs li {
    list-style: circle;
    color: firebrick;
}

.vid {
    margin-left: auto;
    margin-right: auto;
    display: block
}